body {
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 2px;
}

h1 {
    text-shadow: 3px 3px 3px red;
}

i {
	font-variant: small-caps;
	font-style: normal;
	font-weight: bold;
}

th, td {
	background-color: white;
    border: 1px solid black;
    padding: 8px;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}

table {
	background-color: orange;
	border-radius: 8px;
	border: 1px solid black;
    border-spacing: 2px;
	box-shadow: 5px 5px 5px grey;
}

button {
    background-color: orange;
    border: 1px solid black;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	box-shadow: 4px 4px 4px grey;
}

#container {
	
}

#header {
	background-color: orange;
	padding-top: 50px;
	padding-left: 20px;
}

#monitor {
	position: relative;
	float: left;	
	padding-left: 20px;
}

#yourname {
	line-height: 1%;
}

#reveal {
	padding-top: 20px;
	font-size: 14px;
}

#numpad {
	float: left;
	/*display: inline-block;*/
	padding-left: 70px;
	padding-bottom: 20px;
}

#highscore {
	float: left;
	/*display: inline-block;*/
	padding-left: 60px;
}

#hs {
	padding-bottom: 55px;
}

#footer {	
	background-color: orange;
	font-size: 12px;
	clear: left; 
	padding-top: 10px;
	padding-left: 20px;
	height: 110px;
}